<script type="text/javascript">
    $('#toolbar-div').hide();
</script>

<%= form_for(@expensetype) do |f| %>
  <% if @expensetype.errors.any? %>
    <div class="text-error">
      <h6><%= pluralize(@expensetype.errors.count, "error") %> prohibited this expensetype from being saved:</h6>
      <% @expensetype.errors.full_messages.each do |msg| %>
       <i class="icon-arrow-right"></i><%= msg %><br/>
      <% end %>
    </div>
    <br/>
  <% end %>

  <div>
    <%= f.label :name %><%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %><%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
