<p class="test-success"><%= notice %></p>

<p>
  <b>Expensetype:</b>
  <%= @expense.expensetype_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>When:</b>
  <%= @expense.when %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense), class: 'btn' %> |
<%= link_to 'Back', expenses_path, class: 'btn btn-primary' %>
